.App {
  text-align: center;
}
.list-Columns {
  column-count: 2;
}

.link {
  color: #212529;
}

.form-heading {
  color: white;
  text-align: left;
}

.form-container {
  background-color: #2196f3;
  padding: 4% 15%;
}

.form-button {
  background-color: #bbdefb;
}

.results-container {
  padding: 4% 15%;
}

.card {
  -webkit-box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.15);
  box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.15);
}

img {
  -webkit-box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 7px 10px 5px -6px rgba(0, 0, 0, 0.1);
}

.detail-container {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(33, 150, 243, 1) 100%
  );
}

.detail-info {
  background: #ffffff;
  padding: 4em 2em;
  margin-top: 5em;
}

.icons-container {
  margin-top: 5em;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
